.faq{
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}
.faq_container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-content: center;
   flex-wrap: wrap;
    
} 
.faq_heading{
    font-size: larger;
    font-weight: 300;
}